/*Login manually*/
.login-container .login-manually form .remember-forget label .checkbox-input {
    position: relative;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid var(--second-color);
    border-radius: .3125rem;
    background-color: transparent;
    margin-right: 0.625rem;
    cursor: pointer;
}

.login-container .login-manually form .remember-forget label .checkbox-input:before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--second-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 0.725rem;
    height: 0.725rem;
    border-radius: 0.1875rem;
    transition: all 0.3s ease-in-out;
}

.login-container .login-manually form .remember-forget label .checkbox-input:checked:before {
    transform: translate(-50%, -50%) scale(1);
}

.login-container .login-manually form .remember-forget label {
    cursor: pointer;
}

.login-container .login-manually form .remember-forget label.active {
    color: var(--main-text-color);
}

.login-container .login-manually form a {
    transition: .3s ease;
}

.login-container .login-manually form a:hover {
    color: var(--second-color) !important;
}

.login-container .login-manually form .login-btn {
    width: 80%;
    height: 3rem;
    margin: auto;
}