/*Shared Style*/
.about-us-container .head h2,
.facts-container .head h2 {
    color: var(--primary-color);
    line-height: 2.5rem;
    font-size: 2rem;
    width: 50%;
    font-weight: 900;
}

.line {
    background: var(--second-color);
    height: 2px;
    width: 20%;
}


/* About hero section*/
.hero-container {
    padding: 7% 10% 0;
    min-height: 90dvh;
}

.hero-container h1 {
    font-size: 5.2rem;
    font-weight: 900;
    letter-spacing: 5px;
    color: var(--primary-color);
}

.hero-container p {
    font-size: 1.6rem;
    width: 800px;
}

.hero-container .images {
    bottom: 0;
    z-index: 1;
    width: 85%;
}

.hero-container .images img {
    border-radius: 1rem;
    max-width: 250px;
    height: auto;
    object-fit: cover;
}

.hero-container .images img:nth-child(1),
.hero-container .images img:nth-child(3) {
    aspect-ratio: 3/2;
}

.hero-container .images img:nth-child(2),
.hero-container .images img:nth-child(4) {
    aspect-ratio: 2/1;
}

.about-hero .curve {
    bottom: 0;
    z-index: 0;
}

/*About us section*/

.about-us {
    margin-top: 5rem;
}

.about-us-container .content .features li {
    font-size: .75rem;
    font-weight: 900;
    color: var(--secondary-text-color);
    min-width: calc((100% - .5rem) / 2);
}

/*Legal Services Section*/
.legal-services {
    border-top: 5px double var(--dark);
}

.legal-container {
    width: 90%;
}

.legal-container .service-box img {
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
    transition: .6s ease;
}

.legal-container .service-box:hover img {
    transform: scale(.9);
}

.legal-container .service-box h2 {
    color: var(--main-text-color);
}

/*Facts Section*/

.facts-container {
    width: 100%;
}

.facts-container .content p {
    font-size: 1.125rem;
    letter-spacing: 1px;
}

.facts-container .statistics {
    width: 65%;
    margin: auto;
}

.facts-container .statistics .box {
    box-shadow: 1px 1px 10px var(--dark);
    border: 2px solid var(--dark);
    border-radius: 50% 0 50% 0;
    background: var(--accent);
    width: 12rem;
    height: 12rem;
}

.facts-container .statistics .box:nth-child(2) {
    background: var(--primary-color);
    border: 2px solid var(--accent);
}

.facts-container .statistics .box:nth-child(2) h3 {
    color: var(--white);
}

.facts-container .statistics .box p {
    color: var(--secondary-text-color);
    font-weight: 700;
    margin: 0;
}

.facts-container .statistics .box p {
}

.facts-container .statistics .box h3 {
    font-size: 2rem;
    color: var(--primary-color);
}
