@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Reset Confirmation";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/account/forget-confirmation.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/account/forget-c-responsive.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/account/shared.css" asp-append-version="true"/>
}

<section class="confirmation-section form-section d-flex justify-content-center align-items-center section-muted py-5">
    <div
        class="confirmation-container form-container cw px-5 py-3 text-center d-flex flex-column align-items-center gap-3 section-muted">
        <div class="sent-image d-flex">
            <img src="~/images/Account/sent-email.png" alt="Sent Image"/>
        </div>

        <div class="head d-flex flex-column justify-content-center align-items-center">
            <h1>
                Check your email
            </h1>
            <p class="txt-muted w-75">
                Password recovery instructions have been sent to your email address.
            </p>
        </div>
    </div>
</section>
