@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forget Password";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/account/forget-password.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/account/responsive-forget.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/account/shared.css" asp-append-version="true"/>
}

<section class="forget-section form-section d-flex justify-content-center align-items-center section-muted">
    <div
        class="forget-container form-container cw px-5 py-3 text-center d-flex flex-column text-center gap-3 section-muted">
        <div class="head">
            <h1>
                Forgot password?
            </h1>
            <p class="txt-muted">Enter your email to reset your password</p>
        </div>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-4 txt-input">
                <input asp-for="Input.Email" autocomplete="username" aria-required="true"
                       placeholder="Enter your email"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="forget-button button shared-btn">Reset Password</button>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
