@model ClientDetailsVm

@{
    ViewData["Title"] = "Remove Client";
    Layout = "_AdminLayout";
}

<div class="delete-confirmation">
    <div class="card shadow">
        <div class="card-header bg-danger text-white">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <div class="alert alert-warning">
                <h5>Are you sure you want to delete the following client?</h5>
                <dl class="row">
                    <dt class="col-sm-4">Name</dt>
                    <dd class="col-sm-8">@Model.FullName</dd>
                </dl>
            </div>
            <form asp-controller="ClientManagements" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                @Html.AntiForgeryToken()
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>