@model Admin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Admin</h4>
<div class="col-md-4 mb-4">
    <div class="card shadow-sm">
        <div class="card-text">
            <div>
                @if (Model.ImageUrl != null)
                {
                    <img src="@Url.Content("~/" + Model.ImageUrl.Replace("\\", "/"))" class="card-img-top rounded"/>
                }
            </div>
            <div>
                <label> Name: @Model.ApplicationUser.FirstName </label>

            </div>
            <div>
                <label>LastName: @Model.ApplicationUser.LastName</label>

            </div>


            <div>
                <label>Address: @Model.Address </label>

            </div>


        </div>


        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
